<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather-app.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="aboutbg">
    <div class="main-content">
        {{>header}}
    <p class="aboutp">This site is created by Pushpander Singh Tanwar. It uses data from positionstack.com and weatherapi.com. </p>
    <img class = "portrait" src="/img/me.jpg">
    <p class="aboutp1">Hi, my name is Pushpander Singh Tanwar I am an aspiring software developer love to develop web apps. I am proficient in various technologies like HTML, CSS, HBS, npm, JavaScript, Node.js, Express.js, Mongodb, React.js, Bootstrap, C++ etc. Also, you can see the pic of a handsome man above this, yeah, you guessed it right, that is me. </p>
    </div>
    {{>footer}}

</body>

</html>>