<footer>
<p><strong>Created by {{name}}</strong></p>


<a href="https://www.linkedin.com/in/pushpander-singh-tanwar-3bb65990/">
<img src="/img/linkedin.png" alt="LimkedIn" width="30" class="profile1">
</a>
<a href="https://github.com/codeblooded1001000" class="profile2">
<img src="/img/github.png" alt="Github" width="30">
</a>
<a href="https://codeblooded1001000.github.io/personal-site-/">
<img src="/img/mySite.png" alt="My Site" width="30">
</a>
</footer>